.Countdown {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Slab', serif;
    /* font-size: 20px; */
    animation: change-background 1.5s linear infinite;
    /* font-weight: 700; */
    color: rgb(136, 146, 176);

}

@keyframes change-background {
    from {
        change-background: transparent;
    }

    to {
        change-background: #64ffd9;
    }
}


.middle{
  display: flex;
  align-items: center;
  justify-content: center;
}
  
  .App-logo {
    height: 80px;
  }
  
  .App-header {
    background-color: #ffffff;
    padding: 20px;
    color: white;
  }
  
  .App-header .title{
    margin-top: 40px;
  }
  
  .App-header a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: .2s all;
  }
  .App-header a:hover{
    opacity: .7;
  }
  
  .githubIcon{
    height: 30px;
    margin-right: 5px;
  }
  
  .Countdown{
    margin: 10px auto;
    padding-bottom: 20px;
  }
  
  .Countdown-col{
    display: inline-block;
  }
  
  .Countdown-col-element{
    display: inline-block;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
  }
  
  .Countdown-col-element strong{
    font-size: 50px;
  }