a {
    /* display: inline-block; */
    text-decoration-skip-ink: auto;
    color: inherit;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    outline: 0px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}


#linkedin:hover, #codepen:hover, #github:hover  {
    fill: #FFED7F;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}


a svg:hover #email {
    fill: #FFED7F;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}


/* frame 1 Top */

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
 
.main-menu {
    height: 80px;
    display: block;
    animation: fill 1.5s ease forwards 1s;

}


.curtain {
      position: relative;
      transform: translate(0, -90%);
      height: 80px;
      min-width: 600px;
      background-color: #FFED7F;
      animation: mymove 0.5s;
      animation-delay: 0.3s;
      animation-fill-mode: forwards;
      
}

    
@keyframes mymove {
    0% { transform: translatex(0) }
    40% {  background-color: #FFED7F; }
    100% { transform : translatex(100%);
        background-color: transparent; }
}


#logoSvg {
    position: relative;
    left: 12%;
    top: 35px;
    opacity: 0;
    animation-delay: 2s;
    animation: fadeIn ease-in 1; 
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

 /* Message center */

 .msg-center {
    box-sizing: inherit;
    padding: 200px 100px 0px 100px;
    height: 70%;
}

.msg-hi {
    font-family: 'PT Serif', serif;
    color: #3B3A3B;
    font-weight: 700;
    text-align: left;
    bottom: 10px;
    font-size: 70px;
    opacity: 0;
    animation: fadeIn ease-in 1; 
    animation-fill-mode: forwards;
    animation-duration: 2s;
}


.msg-detail {
   font-family: 'PT Serif', serif;
   color: #3B3A3B;
   font-weight: 300;
   text-align: left;
   line-height: 30px;
   font-size: 30px;
   opacity: 0;
    animation: fadeIn ease-in 1; 
    animation-fill-mode: forwards;
    animation-duration: 2s;

}


/* Container - middle frame 1 */
.container  {
    display: flex;
    min-height: 500px;
}


.left-bar {
    display: block;
    width: 6%;
    float: left;
    height: 670px;

}

.left-curtain {
    position: absolute;
    width: 6%;
    float: left;
    transform: translate(0, -42.5%);
    height: 670px;
    background-color: #FFED7F;
    animation: leftMove 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    /* z-index: 10000; */
}

#socialLogo {
    position: relative;
    left: 35%;
    top: 390px;
    opacity: 0;
    animation-delay: 2s;
    animation: fadeIn ease-in 1; 
    animation-fill-mode: forwards;
    animation-duration: 2s;
    /* z-index: 1; */
    
}







.center-bar {
    float:left;
    background-color: #FFED7F;
    width: 88%;
    height: 670px;
}


.right-bar {
    float: left;
    width:6%;
    height: 670px;


}

.right-curtain {
    position: absolute;
    float: left;
    width:6%;
    transform: translate(0, -42.5%);
    height: 670px;
    background-color: #FFED7F;
    animation: rightMove 0.5s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}


#emailLogo {
    position: relative;
    left: 40%;
    top: 390px;
    opacity: 0;
    animation-delay: 2s;
    animation: fadeIn ease-in 1; 
    animation-fill-mode: forwards;
    animation-duration: 2s;

}

@keyframes rightMove {
    0% { transform: translatey(0) }
    40% { background-color: #FFED7F; }
    100% { transform: translatey(120%);
            background-color: transparent;
    }

}

@keyframes leftMove {
    0% { transform: translatey(0) }
    40% { background-color: #FFED7F; }
    100% { transform: translatey(-120%);
          background-color: transparent;  }

}


/* Container typing Introduction */
/* .line{
    position: relative;
    top:50%;
    width: 15.6em;
    margin: 0 auto;
    border-right: 2px solid #ff6f61;
    white-space: nowrap;
    overflow: hidden;
    color: #3B3A3B;
    transform: translateY(-50%);
    display: block;
    font-family: 'PT Serif', serif;
    font-weight: 600;
    font-size: 40px;
    float: left;
    bottom: 50%;
    left: 50%; */

/* } */

/* animattion */
/* .welcome-message-anim{
    animation: typeMsg 4s steps(40) 1s 1 normal both,
    cursorAnim 500ms steps(40) infinite normal;
    position: relative;

} */

@keyframes typeMsg{
    from{
        width: 0em;
    }
    to{
        width: 10em;
    }
}
@keyframes cursorAnim{
    from{
        border-right-color: #ff6f61;
    }
    to{
        border-right-color: transparent;
    }
}


/* Frame1 Bottom */


.bottom {
    clear: both;
    height: 80px;
    box-sizing: border-box;
    animation: fill 1.5s ease forwards 1s;

}


.curtain-bottom {
      clear:both;
      height: 80px;
      min-width: 600px;
      background-color: #FFED7F;
      animation: bottomMove 0.5s;
      animation-delay: 0.8s;
      animation-fill-mode: forwards;
      
}



@keyframes bottomMove {
    0% { transform: translatex(0) }
      
    40% { background-color: #FFED7F; }

    100% { transform: translatex(-100%);
            background-color: transparent;
        }
}


.svgOne {
    fill: #FFED7F; 
}


.svgTwo {
    fill: #3B3A3B; 
}





/* Frame-3 */
ul {

    font-family: 'Poppins', sans-serif;
    color: #FFED7F;
    padding: 10px 32px 10px 52px;
    width: 100%;

}
.center-col {
    float:left;
    display: flex;
    background-color: #FFED7F;
    width: 88%;
    height: 670px;
    line-height: 50px;
}

.left-col {

    display: block;
    border-top: 100px;
    background-color:#3B3A3B;
    text-align: left;
    padding: 40px 0px 30px 0px;
    width: 18%;
    grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr))

}

.right-col {
    font-family: 'Poppins', sans-serif;
    color: #3B3A3B;
    width: 82%;
    padding: 40px ;
    
}

.wrapper {
    top: 100px;
    font-family: 'PT Serif', serif;
    display: grid;
    color: #3B3A3B;
    width: 20%;
    min-height: 100px;
    height: 400px;
    padding-left: 0px;
    font-weight: 300;
    /* text-align: center; */

}


.default {
    cursor: pointer;
}

.default:hover {
    cursor: pointer;
    background: #FFED7F;
    color: #3B3A3B;
}


.headerProject {
    position: relative;
    text-align: center;
    font-family: 'PT Serif', serif;
    color: #FFED7F;
}



.massliftgif {
    position: relative;
    border: 2px solid #3B3A3B;
    top: 30px;
    max-height: 400px;
    max-width: 500px;
}



.image {
    position: relative;
    border: 2px solid #3B3A3B;
    top: 10px;
    max-height: 400px;
    max-width: 500px;
}


.active {
    background: #FFED7F;
    color: #3B3A3B;
    font-weight: 600;
}



/* About Me! */
.msg-abt {
    font-family: 'PT Serif', serif;
    color: #3B3A3B;
    font-weight: 800;
    font-size:  40px;
    line-height: -10px;
    opacity: 0;
    animation: fadeIn ease-in 1; 
    animation-fill-mode: forwards;
    animation-duration: 2s;
}